body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #053851;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}


main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


main h1 {
    font-size: 2.5rem;
    color: #053851;
    text-align: center;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1rem;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #6b0963;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f4f4f9;
    transition: border-color 0.3s ease-in-out;
}

form input:focus, form textarea:focus {
    border-color: #053851;
    outline: none;
}

form input[type="submit"] {
    background-color: #053851;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #6b0963;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #053851;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
