body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #cceef8ea;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #16440d;
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    color: #850909;
    margin: 0 10px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #110101;
    text-decoration: underline;
}
main {
    padding: 20px;
    text-align: center;
           
}
section h2 {
    color: #333;
}
footer {
    background-color: #366b2b;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
form label {
    margin-top: 10px;
    font-weight: bold;
}
form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}
form button {
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover {
    background-color: #555;
}