header {
    background-color: #98b7c6;
    padding: 10px;
    
}

header nav a {
    color: rgb(255, 0, 0);
    margin: 0 10px; 
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #97740a;
}

input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #435800;
}
